[submodule "sources_non_forked/minibufexpl.vim"]
	path = sources_non_forked/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "sources_non_forked/supertab"]
	path = sources_non_forked/supertab
	url = https://github.com/ervandew/supertab
[submodule "sources_non_forked/vim-flake8"]
	path = sources_non_forked/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "sources_forked/vimtex"]
	path = sources_forked/vimtex
	url = https://github.com/lervag/vimtex
